<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Leaflet - {%block pagetitle %}{% endblock %}</title>
	<meta name="description" content="notes, collaboration">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/skeleton.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script>
    $(function() {
        $( "#datepicker" ).datepicker();
    });
    </script>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>

	<div class="container">
		<div class="sixteen columns">
			<h1 class="remove-bottom" style="margin-top: 20px;"><a href="{% url index %}">Leaflet</a></h1><br>
			<div class="nav">
			<ul class="nav-links">
				{% if user.is_authenticated %}
				<li><a href="{% url profile_detail %}">Profile</a></li>
				<li><a href="{% url create %}">Create</a></li>
				<li><a href="#">Explore</a></li>
				<li><a href="#">About</a></li>
				<li><a href="{% url logout %}">Log Out</a></li>
				{% else %}
				<li><a href="{% url login %}">Login</a></li>
				<li><a href="{% url registration %}">Sign Up</a></li>
				<li><a href="#">Explore</a></li>
				<li><a href="#">About</a></li>
				{% endif %}
			</ul>
			</div>
			<hr/>
		</div>

		{% block primary %}{% endblock %}


	</div><!-- container -->

</body>
</html>