{% extends 'base.html' %}

{% block pagetitle %}Home{% endblock %}

{% block primary %}

		<div class="one-third column">
			<h3><i class="icon-refresh" style="color: #87A96B"></i> Collaboration</h3>
			<p>Leaflet is a web based collaboration application that is designed to help people come together.</p>
			<p>From student level note taking collaboration to large scale corporate mettings, Leaflet is here.  Document with ease for yourself or invite others and work together.  With a simplicity you can start taking notes for what ever the occasion may be.</p>
		</div>
		<div class="one-third column">
			<h3><i class="icon-text-height" style="color: #2A52BE"></i> Flesh & Bone</h3>
			<ul class="circle">
				<li><strong>Back to the basics</strong>: Simple and to the point.  Quickly create your notes and share them public or with the user group.  Wait for collaboration! </li>
				<li><strong>Delegate</strong>: Vote the notes you find relevant and down vote the ones that are not.  As the user you decide what is important.</li>
				<li><strong>Accuracy</strong>: With Leaflet's integrated templates you can take notes for an task you may have.<blockquote><p>But what about all those symbols for my Chemistry course?<p><cite>Student</p></blockquote> No problem, we have all the symbols covered and more.</p></li>
			</ul>
		</div>
		<div class="one-third column">
			<h3><i class="icon-check" style="color: #E34234"></i> Support</h3>
			<p>Aenean porttitor aliquam luctus. Pellentesque ut turpis quis ante porta tempus. In sit amet diam a orci sagittis gravida nec vitae leo. Aenean tristique eros ac leo bibendum sollicitudin. Etiam vulputate venenatis magna, eu dapibus est luctus quis. Nulla facilisi. </p> <p>Curabitur vestibulum commodo felis, eget gravida odio suscipit at. Sed porttitor cursus libero, nec varius enim faucibus sit amet. Aenean velit lacus, volutpat eu hendrerit ac, tincidunt et sapien. Fusce facilisis nunc at mauris placerat ullamcorper sed sed metus. Etiam neque urna, ornare a mollis id, lobortis non quam. Fusce euismod tempor tempus.</p>
		</div>

{% endblock %}