{% extends 'base.html' %}
{% load url from future %}

{% block pagetitle %}Login{% endblock %}

{% block primary %}	  	
		  	<div class="one-third column">
		  	&nbsp;
		  	</div>
		  	<div class="one-third column">
		  	<center>
		    {% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			    {% endfor %}
			</ul>
			{% endif %}
		  	<form method="post" action="">{% csrf_token %}
		  		<p>{{ form.username.label_tag}}</p>
				<p>{{ form.username }}</p>
				<p>{{ form.password.label_tag}}</p>
				<p>{{ form.password }}</p>
				<p><button type="submit" class="button" value="login">Login</button></p>
			</center>
			</form>
		  	</div>
		  	<div class="one-third column">
		  	&nbsp;
		  	</div>
{% endblock %}